.cart-product {
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #aaa5;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.cart__quantity {
  border: 1px solid #aaa5;
  width: 40px;
}

.btn__trash {
  color: #f85555;
  background-color: white;
}

.unit__price {
  margin-bottom: 0.3em;
}

@media screen and (min-width: 600px) {
  .cart-product {
    flex-direction: row;
    justify-content: space-around;
  }
}
