.purchase-container {
  border: 1px solid #aaa5;
  border-radius: 1em;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.purchase__info {
  border-top: 1px solid #aaa5;
  border-bottom: 1px solid #aaa5;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.purchase__title {
  padding: 0.3em;
}

.purchase__title-prod {
  width: 45px;
}

.purchase__span-price {
  text-align: center;
  max-width: 110px;
  min-width: 110px;
}

.purchase__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.purchase__span-quantity {
  border: 1px solid #aaa5;
  max-width: 20px;
  min-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  aspect-ratio: 1;
}
.purchase__list {
  width: 100%;
}

.purchase__total {
  text-align: center;
  color: white;
}

.total__container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: #f85555;
  border-radius: 0 0 1em 1em;
}

.total__p {
  color: white;
  font-weight: 500;
}

.purchase__total::before {
  content: "$";
}

@media screen and (min-width: 300px) {
  .purchase__info {
    width: 100%;
  }

  .purchase__item {
    gap: 50px;
  }

  .purchase__title-prod {
    width: 80px;
  }
}

@media screen and (min-width: 600px) {
  .purchase__info {
    width: 100%;
  }

  .purchase__item {
    justify-content: space-between;
  }

  .purchase__title-prod {
    width: 150px;
    padding: 0.5em;
  }
}
