.cart-container-true {
  width: 80%;
  right: 0;
  height: 100vh;
  position: fixed;
  background-color: white;
  z-index: 10;
}

.cart-container-false {
  display: none;
}

.cart-container h2 {
  text-align: center;
}

.cart-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer__btn {
  background-color: #f85555;
  color: white;
  width: 100px;
  height: 40px;
}

.cart__p::before {
  content: "$";
}

.cart__title {
  background-color: #f85555;
  border-radius: 0.3em 0 0 0;
  color: white;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .cart-container-true {
    width: 60%;
    right: 0;
    border-radius: 0.5em;
    border: 1px solid #aaa5;
  }

  .cart__title {
    background-color: #f85555;
    margin: 0;
    padding-left: 0.3em;
    border-radius: 0.3em 0 0 0;
    color: white;
  }
}
