.products-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.home__input {
  display: flex;
  margin: auto;
  border: 1px solid #aaa5;
  height: 35px;
  width: 250px;
  margin-top: 1.5em;
}

@media screen and (min-width: 710px) {
  .layout-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1.5em;
  }
  .products-container {
    display: flex;
    flex-wrap: wrap;
  }

  .order-container {
    display: none;
  }

  .filter__box {
    width: 190px;
  }
}
