.login-container {
  height: 100vh;
  width: 100%;
  background-color: hsla(0, 1%, 72%, 0.1);
  position: relative;
  padding-top: 2em;
}

.login__p {
  padding: 0.2em;
}

.login__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #aaa5;
  width: 300px;
  height: 400px;
  text-align: center;
  background-color: white;
  right: 0;
  left: 0;
  margin: auto;
}

.login__suggest {
  background: #aaa5;
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

.login__div {
  margin: 0.5em;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login__btn,
.login__btn-active {
  background-color: #f85555;
  color: white;
  width: 100px;
  margin-top: 1em;
  height: 40px;
}

/* Login Active*/

.login-container-active {
  height: 100vh;
  text-align: center;
}

.login__btn-active {
  margin-top: 2em;
}
